/* Container */

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Botão */

a.botao {
  display: block;
  max-width: max-content;
  padding: 16px 32px;
  font: 600 1.25rem/120% "Open Sans", Arial, sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--w);
  background: var(--grad);
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

a.botao:hover {
  background: linear-gradient(#414CEB, #2C36CA);
}

/* Animação ao scroll */

.js-scroll {
  opacity: 0;
  transform: translate3d(-90px, 0, 0);
  transition: .6s;
}

.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}