.ssp-b-72 {
  font: 700 4.5rem/125% "Source Serif Pro", Georgia, serif;
}

.ssp-sb-48 {
  font: 600 3rem/125% "Source Serif Pro", Georgia, serif;
}

.ssp-sb-32 {
  font: 600 2rem/112% "Source Serif Pro", Georgia, serif;
}

.ssp-sb-24 {
  font: 600 1.5rem/133% "Source Serif Pro", Georgia, serif;
}

.os-sb-24 {
  font: 600 1.5rem/150% "Open Sans", Arial, sans-serif;
}

.os-r-24 {
  font: 400 1.5rem/133% "Open Sans", Arial, sans-serif;
}

.os-sb-20 {
  font: 600 1.25rem/160% "Open Sans", Arial, sans-serif;
}

.os-r-20 {
  font: 400 1.25rem/160% "Open Sans", Arial, sans-serif;
}

.os-sb-18 {
  font: 600 1.125rem/133% "Open Sans", Arial, sans-serif;
}

.os-i-18 {
  font: 400 1.125rem/133% "Open Sans", Arial, sans-serif;
  font-style: italic;
}

.os-r-18 {
  font: 400 1.125rem/133% "Open Sans", Arial, sans-serif;
}